body {
  height: 100vh;
  font-family: "Roboto Mono", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #274c77;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #f3f3f3;
}

.container {
  display: grid;
  justify-items: center;
  padding: 5rem 1rem;
  min-height: 400px;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h1"
    "bt"
    "ti"
    "ul";
  background-color: #274c77;
  border-radius: 5px;
}

#activity-h1 {
  letter-spacing: -1px;
  font-size: 2.5rem;
  grid-area: h1;
  text-shadow: 1px 1px 1px #333333;
}

#activity-title {
  grid-area: ti;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 5rem;
}

#activity-h2 {
  font-size: 1.25rem;
  text-wrap: wrap;
  text-align: center;
  word-wrap: break-word;
  padding: 0 1rem;
}

#activity-ul {
  grid-area: ul;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-self: center;
}

li {
  color: #f3f3f3;
}

#activity-btn {
  grid-area: bt;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #c1121f;
  cursor: pointer;
  border: none;
}

#activity-btn:hover,
#activity-btn:focus {
  opacity: 0.8;
  outline: 3px solid #780000;
}

@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6096ba;
  }

  .container {
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "h1 h1 h1"
      ".. bt .."
      "ti ti ul";
    border: 3px solid black;
    align-content: space-between;
    justify-content: center;
    margin: 1em;
  }

  #activity-title {
    min-height: 6rem;
  }

  #activity-title h2 {
    font-size: 1.5rem;
  }
}
